# Dependencies
node_modules/
dist/

resources/bin/ffprobe.exe
resources/bin/ffmpeg.exe


# Logs
logs/
*.log

# Debug output
debug/
screenshots/
debug_html/

# Config with sensitive data
config.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
